mxconsole/node_modules/*
mxconsole/typings/*
mxconsole/build/*
mxconsole/dist/tf-tensorboard-demo.html
build
build/*
dist/*
MXConsole.egg-info/*
.idea/*
mxconsole/bower_components/*
*.pyc
__pycache__
__pycache__/*
typings/*

# Since bower components are stored in the same directory as
# tensorboard components, we ignore everything under components
# except our own components which start with tf-.
mxconsole/components/*
# This rule should always be in sync with TF_COMPONENTS_TYPESCRIPT_GLOB
# in gulpfile.js
!mxconsole/components/tf-*
!mxconsole/components/tf_*
!mxconsole/components/vz-*
!mxconsole/components/vz_*
!mxconsole/components/index.html
!mxconsole/components/BUILD
# Ignore the sample graph files since they are too large to
# be in the repo.
#mxconsole/components/tf-graph/demo/tf_model_zoo/*

# All standalone code for TensorBoard components should be written in
# typescript, and the compiled javascript code should be ignored.
#mxconsole/components/tf-*/**/*.js
#mxconsole/components/tf_*/**/*.js
#mxconsole/components/vz-*/**/*.js
#mxconsole/components/vz_*/**/*.js
